{% extends "base.html" %}
{% block content %}
  <div class="login">
    <div>
        <h2>Log In</h2>
    </div>
    <div>
        If you <b>don't</b> have an account, then <a href={{ url_for('users.register') }}>Register!</a>
    </div>
    <div>
        <form action="" method="post">
            {{ form.csrf_token }}
            <div>
                {{ form.email.label(class="form-control-label")}}
                {{ form.email(class="form-control form-control-md") }}
                {% if form.email.errors %}
                <div>
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            </div>
            <div>
                {{ form.password.label(class="form-control-label") }}
                {{ form.password(class="form-control form-control-lg")  }}
            </div>
            <div>
                {{ form.submit(class="btn btn-primary btn-lg btn-block") }}
            </div>
        </form>
    </div>
  </div>
{% endblock %}
